<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app">
    <p>
      {{ message }}
    </p>
    <p v-show="flag">
      <a v-bind:href="url" target="_blank">Vue.js</a>
    </p>
    <ul>
      <li v-for="language in languages">
        {{ language }}
      </li>
    </ul>
    <p>
      <input type="text" v-model="message">
      <button v-on:click="onclick">クリック！</button>
    </p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js!',
        url: 'https://jp.vuejs.org/',
        flag: true,
        languages: ['JavaScript', 'Ruby', 'Python']
      },
      methods: {
        onclick(){
          if(this.flag){
            this.message = 'Goodbye Vue.js',
            this.flag = false
          } else {
            this.message = 'Hello Vue.js!',
            this.flag = true
          }
        }
      }
    })
  </script>
</body>
</html>