<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js 算出プロパティ</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/vue/vue.js"></script>
  <script defer src="js/main.js"></script>
</head>
<body>
  <div id="app">
    <p>
      Base Price : <input type="text" v-model="basePrice">
    </p>
    <p>
      Tax Included Price : <input type="text" v-model="taxIncludedPrice">
    </p>
  </div>
</body>
</html>