<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js</title>
  <!-- <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'> -->
  <link rel='stylesheet' href='css/style.css'>
  <script src="js/vue/vue.js"></script>
  <script defer src="js/main.js"></script>
</head>
<body>
  <div id="app">
    <p>
      {{ message }}
    </p>
    <p v-show="flag">
      <a v-bind:href="url" target="_blank">Vue.js</a>
    </p>
    <ul>
      <li v-for="language in languages">
        {{ language }}
      </li>
    </ul>
    <p>
      <input type="text" v-model="message">
      <button v-on:click="onclick">クリック！</button>
    </p>
  </div>
</body>
</html>